<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.StatisticPlugin</class>
    <name>Load Statistic</name>
    <description>Logs load statistics to a file</description>
    <author>Jive Software</author>
    <version>${project.version}</version>
    <date>02/19/2021</date>
    <minServerVersion>3.9.0</minServerVersion>
</plugin>
